--extra-index-url https://download.pytorch.org/whl/cpu

networkx==3.1
torch==2.2.2
transformers==4.40.1
onnx==1.16.0
onnxruntime==1.17.3
optimum==1.19.1
setuptools==69.5.1
numpy<2.0
huggingface_hub[cli]==0.23.0
